.container {
  margin: 30px auto;
  width: 350px;
  border-bottom: 1px solid rgb(3, 3, 3);
}
h1 {
  letter-spacing: 1px;
  margin: 0;
}
body {
  background-color: #f7f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}
input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 30%;
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.love {
  width: 600px;
  border: 1px solid black;
}
.form input {
  width: 33.33%;
  display: inline-block;
  margin: 0 1.1% 0 0;
  padding: 0;
}
.form {
  display: flex; /*Add display flex*/
}
.form input:last-child {
  margin-right: 0 !important; /*remove margin-right from last input*/
}
